<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <h3>/whois Teemu</h3>
                <p>Olen 26-vuotias ikinuori pojankloppi. Toimin tällä hetkellä JAMKissa täysipäiväisenä tuntiopettajana. Opetan verkkosivujen kehitystä, Linux- ja Windows
                    käyttöjärjestelmiä sekä vedän projektiopintoja. Vapaa-ajallani
                    kuuntelen
                    musiikkia, käyn keikoilla, ohjelmoin, <a href="https://youtu.be/PFZiXJvzUyE">editoin
                        videoita</a> ja kuvia, ajelen maastopyörällä
                    sekä pelaan videopelejä.</p>						
            </section>
            <section>
                <h4>Teemu sosiaalisessa mediassa</h4>
                <ul class="plain">
                    <li>
                        <a target="_blank" href="https://twitter.com/TemeASD">
                            <i class="icon fa-twitter">&nbsp;</i>Twitter</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/teemu-p%C3%B6lkki/">
                            <i class="icon fa-linkedin">&nbsp;</i>LinkedIn</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="copyright">
                &copy; Teemu Pölkki 2020 Template by Untitled {{compiled}}.

        </div>
    </div>
</footer>

<!-- Scripts -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/prism.js"></script>
<script src="assets/js/carousel.js"></script>